{% extends 'base.html'%}
{% block body %}
<div class="contaniner">
    <div class="row" style="height:1200px;">
	<img src="https://i.hizliresim.com/bv1M8Z.png">
        <div class="col-md-8 col-md-offset-1">
             <!---class="img-thumbnail img-circle" ile fotoğrafın düz olması durumunda circle haline getirir.--->
            <div class="thumbnail" style="border:1.5px solid; border-color:lightgrey; height:270px;">
                <br><br>
                <hr style="border-top:2px solid #ccc;">
                <h4 style="font-size: 20px; color:grey;">deXmon_Inc;</h4>
                <p style="color:grey; font-family:cursive;">
                    Temel düzeyde programlama ve bilişim ile ilgili yazıların yer aldığı bir web sayfasıdır.<br><br>
                    .Python ( Pyqt5 ,Django )<br>
                    .Raspberry Pi<br>
                    .Html<br>
                    .Css<br>
                </p> <!---  https://i.hizliresim.com/gPGpNQ.png  --->
            </div>

        </div>
    </div>
</div>

{% endblock %}