{% extends 'base.html' %}

{% block body %}



<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-3" style="background-color:red; height:200px; border:1.2px solid;">
            <p style="color:white;">Yazılım ile ilgili gelişmelerden hanerdar olmak için tıklakyın</p>
        </div>
        <div class="col-md-3" style="height:200px; border:1.2px solid;">
            <img src="https://s7d4.scene7.com/is/image/JCPenney/DP1020201823111331C.tif?wid=350&hei=350&op_usm=.4,.8,0,0&resmode=sharp2" style="height: auto;" class="responsive">
        </div>
        <div class="col-md-3" style="background-color:green; height:200px; border:1.2px solid;"></div>
        <div class="col-md-3" style="background-color:cyan; height:200px; border:1.2px solid;"></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-3" style="background-color:red; height:200px; border:1.2px solid;">
            <p style="color:white;">Yazılım ile ilgili gelişmelerden hanerdar olmak için tıklakyın</p>
        </div>
        <div class="col-md-3" style="background-color:blue; height:200px; border:1.2px solid;"></div>
        <div class="col-md-3" style="background-color:green; height:200px; border:1.2px solid;"></div>
        <div class="col-md-3" style="background-color:cyan; height:200px; border:1.2px solid;"></div>
    </div>
</div>
<br><br>



{% endblock %}

