{% extends 'base.html'%}

{% block body %}
<br>
<div class="container">
    <div class="row" style="height:450px;">
        <div class="col-md-6 col-md-offset-1">
            <p style="font-family: cursive;">Aşağıda seçenekleri kullanarak bizimle iletişime geçebilirsiniz.</p>
            <hr style="border:1.2px solid #ccc;">
            <p style="font-size:15px;">Instagram :  <a href="https://www.instagram.com/dexmon_inc">/dexmon_inc</a></p>
            <p style="font-size:15px;">Github :  <a href="https://github.com/deXmon-Inc"> /deXmon-Inc</a></p>
            <p style="font-size:15px;">E-posta :  <a href="mailto:dexmoninc@gmail.com">dexmoninc@gmail.com</a></p>

        </div>
    </div>
</div>


{% endblock %}